.feedback


.feedback_img  
    background-image: url('../img/feedback/feedback-bg.jpg')
    max-width: 845px
    height: 595px
    margin-left: 55%
    z-index: 0

.form
    width: 575px
    height: 595px
    float: left
    background-size: contain
    position: relative 
    z-index: 1
    &:before
        content: ''
        left: 0
        top: 0
        width: 575px
        height: 595px
        background-color: #fff 
        z-index: -1
        position: absolute


    &__title
        font-size: 24px
        font-family: 'Museo Sans Bold', sans-serif 
        line-height: 35px
        margin-bottom: 49px
    &__subtitle
        display: block
        margin-bottom: 49px
    &__input
        width: 270px
        margin-bottom: 30px
        outline: none
        &:first-child
            margin-right: 30px
    &__button
        font-size: 16px
        padding: 28px
        display: block
        width: 100%
    &-manage
        display: flex
        font-size: 15px
        line-height: 25px
        padding-top: 20px
        font-family: 'Museo Sans Light', sans-serif 
        &_connect
            max-width: 251px
        &_call
            margin-right: 80px   
        &_person
            display: flex
            align-items: center
            
        &_tell
            display: block
            font-family: 'Museo Sans Bold', sans-serif
            text-decoration: none
            color: $text-color
        &_img
            width: 40px
            height: 40px
            margin-right: 20px 
            border: 2px solid #cccccc
            border-radius: 50% 
            background: url('../img/feedback/tel.png') no-repeat center
               
