@media (min-width: 1200px)

  .form
    margin-left: 0
  .feedback_img 
    margin-left: 54%
    margin-right: 0%
  .profile
    &field
      margin: auto
      margin-left: 0px



@media (max-width: 1199px)
  .container
    width: 90%  
  .form
    width: 455px
    &:before 
      width: 500px
  .modal
    &_dialog
      width: 990px
    &_wrap
      width: 450px
  .slider
    &__item
      img
        max-width: 95%
@media (max-width: 992px)
  .profile
    &-part_2
      flex-basis: 48%
  .container
    width: 95%
  .form
    width: 425px
    &__title
      margin-bottom: 30px
      font-size: 22px
    &__subtitle
      margin-bottom: 30px
    &:before 
      width: 420px
  .modal
    &_dialog
      width: 790px
    &_content
      width: 370px
    &-img
      margin-left: 10px
    &-header
      margin-left: 10px
    &-scroll
      &_img
        margin-left: 10px
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
  .feedback
    background: #fff
    height: 596px
@media (max-width: 860px)
    .profile
      &-part_1
        display: none
      &-part_2
        flex-basis: 100%
    .feedback_img
      display: none
    .form
      margin-left: 22%
    .hidden-xs
      display: none
    .container
      width: 95%
    .main
      &-img
        display: none
      &-wrap
        flex-direction: column
      &-text
        max-width: 480px
        margin: auto
        &__title
          text-align: center
      &-advantages
        margin: auto
    .modal
      &_dialog
        width: 745px
      &_content
        width: 355px
    .portfolio
      .container
        &:before
          position: relative
@media (max-width: 750px)
  .modal
    &_content
      display: none
    &_contacts
      width: 570px
    &_dialog
      width: 570px


@media (max-width: 660px)

  .form
    margin-left: 18%
@media (max-width: 576px)
  .slider
    &__item
      margin-left: 70px
  .feedback
    height: 700px
  .modal
    &_contacts
      width: 440px
    &_dialog
      width: 440px
  .conteiner
    width: 95%
  .hidden-s
    display: none
  .header
    &-text
      width: 350px
      &__phone
        font-size: 17px
    .container
      flex-direction: column
      max-width: 320px
  .main
    &-text
      &__title
        font-size: 27px
        line-height: 26px
  .form
    align-items: center
    width: 320px
    text-align: center
    &:before 
      width: 330px
    
    &__input:first-child
      margin-right: 0
    &-manage
      flex-direction: column
      &_call 
        margin: 0 0 0 8% 
      &_person
        margin: 0 0 0 17% 
      &_img
        display: none
    &__button
      margin-left: 8%
      width: 270px
      height: 71px
@media (max-width: 450px)
  .slider
    &__item
      margin-left: 40px
  .modal
    &_contacts
      width: 370px
    &_dialog
      width: 370px
    &_button
      width: 250px
    &_input
      width: 250px
  .form
    margin-left: 10%
  .header
    &-text
      width: 350px
      &__phone
        font-size: 15px
  .main
    &-text
      &__title
        font-size: 25px
    
@media (max-width: 390px)
  .profile
    .field
      &_title
        margin-top: 50px
  .slider
    &__item
      margin-left: 20px
  .modal
    &_contacts
      width: 310px
    &_dialog
      width: 310px
    &_title
      margin-top: 50px
  .form
    margin-left: 0%
    &__title
      font-size: 19px
  .header 
    &-text
      flex-direction: column
      text-align: center
      &__phone
        font-size: 18px
      &__contacts 
        text-align: center
        margin-right: 0%
        margin-bottom: 10px

